<html>
    <h1>
        Lista de Tarefas by gpimenta
    </h1>
    <body>
        <form method="post" action="/add">
            <input type="text" name="nomeTask" placeholder="Nome da tarefa">
            <input type="text" name="dataFim" placeholder="Data fim">
            <input type="submit" value="Add task">
        </form>
        <table border="5">
            <tr>
                <th>
                    Nome da tarefa
                </th>
                <th>
                    Está feito?
                </th>
            {% for task in tarefas %}
                <tr>
                    <form method="post" action="/update">   
                        <td>
                            <input type="hidden" name="ID" value="{{ task[0] }}" />
                            <input type="text" name="updateTask" value="{{ task[1] }}" />
                        </td>
                        <td>
                            {{ task[2] }}
                        </td>
                        <td>
                            <input type="submit" name="saveOrDelete" value="save">
                        </td>
                        <td>
                            <input type="submit" name="saveOrDelete" value="X">
                        </td>
                    </form>
                </tr>
            {% endfor %}
        </table>
    </body>
</html>